p, span, h1, h2, h3, h4, h5, button, input, label {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html {
  background-color: pink;
}

.pink {
 color: purple;
}

#header {
  text-align: center;
}

.spoiler {
filter: blur(30px);
image-rendering: pixelate;
}
.spoiler:hover {
filter: blur(0px);
}
.spoiler:focus {
filter: blur(0px);
}
/* fix weird transitions on Chrome: */
